/* style.css */

.center {
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    width: 16%;
}


.button {
    cursor: pointer;
    height: 30px;
    width: 120px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    border: none;
    background-color: rgb(240, 240, 240);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: rgb(56, 56, 56);
}

.button:hover {
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 1px #777;
}

input {
    margin-top: 20px;
    width: 500px;
    height: 25px;
    display: inline-block;
    position: relative;
}

.header {
    font-size: 12px;
}

.header:hover {
    text-decoration: underline;
}

#about {
    position: absolute;
    top: 18px;
    left: 20px;
}

#store {
    position: absolute;
    top: 18px;
    left: 67px;
}

#gmail {
    position: absolute;
    top: 18px;
    right: 130px;
}

#images {
    position: absolute;
    top: 18px;
    right: 70px;
}

#apps {
    position: absolute;
    top: 18px;
    right: 40px;
}

#profile {
    position: absolute;
    top: 18px;
    right: 10px;
}